<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    Редакция Forbes предупреждает, что незаконное приобретение, хранение, перевозка, изготовление и переработка наркотических средств (и их прекурсоров), </p> 
    <p>психотропных веществ и их аналогов; нарушение их оборота; выращивание растений, содержащих наркотические средства и психотропные вещества; 
    <p>а также организация или содержание притонов для потребления наркотических средств, психотропных веществ и их аналогов являются преступлениями, 
    <p>а лица, их совершившие, преследуются в уголовном порядке.
    <p>
    Употребление наркотических средств, психотропных веществ и их аналогов наносит вред вашему здоровью.
    <p>
    <img src="https://cs8.pikabu.ru/post_img/2016/05/29/1/146447751417128950.jpg"/>
</body>
</html>
