<!DOCTYPE html>
<html>
  <head>
    <title>Email уже существует</title>
    <style>
      /* стили для сообщения об ошибке */
      .error-message {
        font-size: 24px;
        color: red;
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="error-message">{{error}}</div>
    <a href="/register"><button> Назад v register </button> </a>
    <a href="/login"><button> Назад v login </button> </a>
    <a href="/"><button> Домой бобик </button> </a>
  </body>
</html>
